
<section id="gallery">
  <a name="gallery"></a>
  
  <div class="aspect-ratio-16x9">
    <div class="photos">
      <a class='photo photo-2x' style="<%= bg(image_url('gallery/1.jpg')) %>"></a>
      <a class='photo' style="<%= bg(image_url('gallery/2.jpg')) %>"></a>
      <a class='photo' style="<%= bg(image_url('gallery/3.jpg')) %>"></a>

      <a class='photo' style="<%= bg(image_url('gallery/4.jpg')) %>"></a>
      <a class='photo' style="<%= bg(image_url('gallery/5.jpg')) %>;background-position-y:-40px;"></a>
      <a class='photo photo-2x' style="<%= bg(image_url('gallery/6.jpg')) %>"></a>
    </div>
  </div>
</section>
