
<section id="gallery">
  <a name="gallery"></a>

  <div class="aspect-ratio-16x9">
    <div class="photos">
      <a
        data-id="TTquDXm1N5"
        data-toggle='#photo-modal'
        class='photo photo-2x'
        style="<%= bg(image_url('gallery/1.jpg')) %>"
      ></a>
      <a
        data-id='L-rx09evEtG5pQfmayi9Wg'
        data-toggle='#photo-modal'
        class='photo'
        style="<%= bg(image_url('gallery/2.jpg')) %>">
      </a>
      <a
        data-id="e163g2rItHz7OxW8vKB2lg"
        data-toggle='#photo-modal'
        class='photo'
        style="<%= bg(image_url('gallery/3.jpg')) %>"></a>
      <a
        data-id="-UlGktGvEBp033Xgg0Gl5Q"
        data-toggle='#photo-modal'
        class='photo'
        style="<%= bg(image_url('gallery/4.jpg')) %>"></a>
      <a
        data-id="eQfxTaFoIf"
        data-toggle='#photo-modal'
        class='photo'
        style="<%= bg(image_url('gallery/5.jpg')) %>;background-position-y:-40px;"></a>
      <a
        data-id="Y9gwhL8YVI1XEJJGCtFNHg"
        data-toggle='#photo-modal'
        class='photo photo-2x'
        style="<%= bg(image_url('gallery/6.jpg')) %>"></a>
    </div>
  </div>
</section>
