
<section id="gallery">
  <div class="aspect-ratio-16x9">
    <div class="photos">
      <a class='photo photo-2x' style="<%= bg('https://scontent-2.2914.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/1524646_720567564622229_756273147_n.jpg?oh=002a00ec190134adddb4027b54c71cbc&oe=55A2BE9A') %>"></a>
      <a class='photo' style="<%= bg('http://s3-media3.fl.yelpassets.com/bphoto/L-rx09evEtG5pQfmayi9Wg/l.jpg') %>"></a>
      <a class='photo' style="<%= bg('http://s3-media3.fl.yelpassets.com/bphoto/e163g2rItHz7OxW8vKB2lg/l.jpg') %>"></a>
      <a class='photo' style="<%= bg('http://s3-media2.fl.yelpassets.com/bphoto/-UlGktGvEBp033Xgg0Gl5Q/l.jpg') %>"></a>
      <a class='photo' style="<%= bg('https://scontent-2.2914.fna.fbcdn.net/hphotos-xaf1/t31.0-8/465480_390673467611642_1967202562_o.jpg') %>"></a>
      <a class='photo photo-2x' style="<%= bg('http://s3-media4.fl.yelpassets.com/bphoto/Y9gwhL8YVI1XEJJGCtFNHg/l.jpg') %>"></a>
    </div>
  </div>
</section>
