<%
  featured_testimonial_data = {
    reviewer_name: 'Amy Y.',
    review: "Joel and Suzie took our pup in like she was their own. They genuinely love dogs and care about their wellbeing. A lot
      of other groomers run their shop like a \"business\", but Joel and Suzie put their hearts into it and it shows in their work."
  }
%>

<%= content_for :parallax do %>

    <div id="featured-testimonial-background"></div>

<% end %>

<section id="featured-testimonial">
  <div class="featured-testimonial-content">
    <blockquote>
      <i class="fa fa-quote-left pull-left"></i>
      <%= featured_testimonial_data[:review] %>
      <i class="fa fa-quote-right pull-right"></i>
    </blockquote>
    <span>- <%= featured_testimonial_data[:reviewer_name] %></span>
  </div>
</section>

<%
  testimonial_data = [
    {
      reviewer: { name: 'David C.', photo_url: '//s3-media4.fl.yelpcdn.com/photo/5p__prskvL6VVKh6NoH3yA/60s.jpg' },
      review: "Simply put, there's no one better. Joel & Susie have always been so good to us and our dog, that we drive from Hayward for
        grooming sessions. They bend over backwards to accommodate us and we couldn't be more thankful for them taking such great care of
        Dexter."
    },
    {
      reviewer: { name: 'Howard H.', photo_url: '//s3-media4.fl.yelpcdn.com/photo/7-YlRDfswuUrJD9r1s2mbA/m.jpg' },
      review: "Convenient location, easy to schedule appointments, flexible, friendly, and most importantly, beloved by our Poochy, Super
        Pups is THE place to go if you want your canine to look like a super pup!"
    },
    {
      reviewer: { name: 'Mark P.', photo_url: '//s3-media3.fl.yelpcdn.com/photo/kScFr-jETeB2UlXZli8hZQ/m.jpg' },
      review: "I've been coming here for close to two years now and have had nothing but great experiences. Joel and Susie are great and
        our dog looks fantastic every time!"
    },
    {
      reviewer: { name: 'Amy C.', photo_url: '//s3-media1.fl.yelpcdn.com/photo/kyY-ErPO2DioZ9QWRQZmYw/m.jpg' },
      review: "A quick update to thank Joel & Susie at Super Pups from the bottom of our hearts for finding our Francis' cancer 3+ years ago.
      He's now outlived the expected lifespan following diagnosis and just today got another good report.
      It might have been very different if Joel and Susie weren't so good at what they do and brought it to my attention!"
    },
    {
      reviewer: { name: 'Claudia D.', photo_url: '//s3-media4.fl.yelpcdn.com/photo/_fL5CBzBHDUQSP9Gnjoa7w/m.jpg' },
      review: "Love Super Pups very much. My doggies always looks amazing when I pick them up. Great groomers and always very
        accommodating and friendly. Always a wonderful experience. Please give them a call!! They ROCK."
    }
  ]
%>

<section id="testimonials">
  <h2>Testimonials</h2>
  <div class="container">
    <ul class="testimonials">
      <% testimonial_data.each do |data| %>
        <li>
          <div class="flex-photo">
            <figure>
              <span style="<%= bg(data[:reviewer][:photo_url]) %>"></span>
              <figcaption><%= data[:reviewer][:name] %></figcaption>
            </figure>
          </div>
          <div class="flex-text">
            <p><%= data[:review] %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
